pytest>=6.2
pytest-cov>=3.0
pip-tools>=6.4
Sphinx<4.4
sphinx-rtd-theme>=0.5
recommonmark>=0.7
versioneer>=0.21
m2r2>=0.3.2
mypy>=0.910
mypy-extensions>=0.4.3
types-dataclasses>=0.6.4
black>=21.12b0
flake8>=4.0.1
flake8-docstrings>=1.6
flake8-rst-docstrings>=0.2.5
